/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: Delta;
    text-shadow: 2px 2px #1d1e18;
    color: #886d6c;
}

p {
    font-family: Cubadak;
    color: #886d6c;
}

@font-face {
    font-family: Feedback;
    src: url(../fonts/FeedBackdafon.otf);
}

@font-face {
    font-family: Cubadak;
    src: url(../fonts/Cubadak.ttf);
}

@font-face {
    font-family: Delta;
    src: url(../fonts/Delta.ttf);
}

@font-face {
    font-family: Eden;
    src: url(../fonts/Eden.ttf);
}

/* Body / Background */

body {
    background: url(../img/bg.jpg);
    background-size: 100%;
    background-position-x: center;
    background-position-y: 0px;
    background-color: #1d1e18;
}

.main {
    position: relative;
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    display: block;
}

/* Nav */

.navigation {
    padding: 30px;
    display: flex;
    margin: 1em;
    height: 50px;
    margin-bottom: 50px;
}

.navigation .right {
    margin-left: auto;
}

.navigation a {
    position: relative;
    font-size: 25px;
    color: #B79492;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: Cubadak;
}

.navigation a:hover {
    text-shadow: 2px 2px #2b7e5e;
    transition: 0.5s ease;
}

.navigation a::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #B79492;
    border-radius: 5px;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
    box-shadow: 1px 1px #2b7e5e;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



.navigation .btnLogin-popup {
    height: 50px;
    background: transparent;
    border: 2px solid #B79492;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: #B79492;
    font-weight: 500;
    margin-left: 40px;
    font-family: Cubadak;
    transition: .5s ease;
    padding: 0px  5px 0px 5px;
}

.navigation .btnLogin-popup:hover {
    background-color: #B79492;
    color: #444140;
    box-shadow: 4px 4px #2b7e5e;
    transition: .5s ease;
}
.logo {
    height: 90px;
    align-self: center;
    margin-left: auto;
    padding-left: 100px;
}

/* Top Sect */

.top {
    align-items: center;
    color: #12ba7c;
    font-family: Delta;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 5px #1d1e18;

}

.top h1 {
    color: #12ba7c;
}

.welcome {
    padding-top: 5%;
    padding-left: 5%;
    color: #886d6c;

}

.welcome p {
    font-family: Cubadak;
    padding-top: 1%;
    font-size: 40px;
    width: 50%;
}

.btn {
    height: 50px;
    background: transparent;
    border: 2px solid #B79492;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: #B79492;
    font-weight: 500;
    font-family: Cubadak;
    transition: .5s ease;
    padding: 0px  5px 0px 5px;
    text-decoration: none;
    font-size: 40px;
}

.btn:hover {
    background-color: #B79492;
    color: #444140;
    box-shadow: 4px 4px #2b7e5e;
    transition: .5s ease;
}

/* About */
.about {
    padding: 80px;
    padding-top: 30%;
    position: relative;
    width: 100%;
    display: block;
    height: auto;
}

.about p {
    font-size: 30px;
    width: 90%;
}